.sh-abs-image {
	transform: translate(-50%, -50%);
	aspect-ratio: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

.building1 {
	background-image: url("../images/building1.png");
	&:hover,
	&.sh-hovered {
		background-image: url("../images/building1-hover.png");
	}
}

.building2 {
	background-image: url("../images/building2.png");
	&:hover,
	&.sh-hovered {
		background-image: url("../images/building2-hover.png");
	}
}

.building3 {
	background-image: url("../images/building3.png");
	&:hover,
	&.sh-hovered {
		background-image: url("../images/building3-hover.png");
	}
}

.sh-map-icon {
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 30;
	cursor: pointer;
	width: 2%;
	aspect-ratio: 1;

	svg {
		fill: #ca345a;
		transition: all 0.3s ease-in-out;
	}

	&:hover,
	&.sh-hovered {
		svg {
			fill: #211df3;
			@apply sh-animate-bounce;
		}
	}
}

.sh-map-icon-card {
	overflow: hidden;
	width: 15rem;
	padding: 0rem;
	border-radius: 0.375rem;
	--tw-bg-opacity: 1;
	background-color: rgb(255, 255, 255, var(--tw-bg-opacity, 1));
	--tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--tw-shadow-colored:
		0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),
		var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
	position: absolute;
	z-index: -1;
	transform: translate(-50%, -100%);
	transition: all 0.3s ease-in-out;
	opacity: 0;
	&.sh-showed {
		opacity: 1;
		z-index: 40;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin-bottom: 0rem;
	}
	h4 {
		padding: 0.5rem;
		font-size: 1.125rem;
		line-height: 1.2;
		font-weight: 700;
		margin: 0;
	}
}

.sh-list-data-item {
	padding: 1rem;
	border-radius: 0.375rem;
	--tw-bg-opacity: 1;
	background-color: rgb(255, 255, 255, var(--tw-bg-opacity, 1));
	transition-property:
		color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;

	&:hover {
		background-color: rgb(243, 244, 246, var(--tw-bg-opacity, 1));
	}

	h4 {
		font-size: 1.125rem;
		line-height: 1.6em;
		font-weight: 600;
		margin: 0;
		color: var(--theme-text-color);
	}

	p {
		font-size: 0.9375rem;
		line-height: 1.5em;
		font-weight: 500;
		margin: 0;
		color: var(--theme-text-color);
	}
}
