@tailwind base;
@tailwind components;
@tailwind utilities;

#wpcontent #wpadminbar {
	z-index: 99;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0 !important;
}

div[class^="ant-"] {
	a {
		&:focus {
			box-shadow: none;
		}
	}

	ins {
		@apply sh-text-red-500 sh-ml-1 sh-no-underline;
	}
	del {
		@apply sh-text-gray-400;
	}
	input[class*="ant-select"] {
		box-shadow: none !important;
		border: none !important;
		outline: none !important;
	}
	span.from {
		display: none;
	}

	input[class*="ant-input"],
	input.ant-select-selection-search-input {
		min-height: unset;
		line-height: 1.5;
	}

	.antd-form-sm {
		div.ant-form-item {
			@apply sh-mb-2;
		}
		div.ant-form-item-label {
			@apply sh-pb-0 sh-text-xs;
		}
	}

	&:focus-visible {
		outline: unset;
	}
}

@media print {
	html,
	body {
		height: 100%; /* Use 100% here to support printing more than a single page*/
		width: 297mm;
		margin: 0 !important;
		padding: 10mm !important;
		overflow: hidden;
	}
}
